

/* code for table scroll width ajustable height, edit line tbody { height: [x]px; } */
table {
    width: 716px; /* 140px * 5 column + 16px scrollbar width */
    width: 816px; 
    border-spacing: 0;
}

tbody, thead tr { display: block; }

tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

td {
    text-align: center;
}

tbody td, thead th {
    width: 160px;
}

thead th:last-child {
    width: 176px; /* 140px + 16px scrollbar width */
}
/* end of table code */