.main_page_container {
    background-color: rgba(255, 255, 255, 0.1);
}



.forum_page_container {
    background-color: rgba(255, 255, 255, 0.1);
    width: 50%;
    height: 600px;
    float: left;
}
.forum_page {
    margin-top: 10%;
}
.forum_page a {
    margin-left: 35%;
    color: white;
    font-size: 50px;
}



.bodies_page_container {
    background-color: rgba(255, 255, 255, 0.1);
    width: 50%;
    height: 600px;
    float: left;
}
.bodies_page {
    margin-top: 10%;
}
.bodies_page a {
    font-size: 50px;
    margin-left: 35%;
    color: white;
}