.navbar_container {
  background-color: rgba(88, 88, 88, 0.8);
  width: 80%;
  height: 130px;
  margin-left: 10%;
  margin-right: 10%;
}
.navbar_container img {
  position:absolute;
  top: 9.5%;
  left: 50%;
  transform:translate(-50%, -50%);
}
.navbar_btns {
  background-color: rgba(104, 22, 63, 1);
  height: 25px;
  padding-top: 5px;
  text-align: center;
}
.navbar_btns a {
  text-decoration: none;
  color: white;
  margin-left: 70px;
  margin-right: 70px;
}
.navbar_logo img {
  width: 100px;
  height: 100px;
}
