.navbar_container {
    background-color: rgba(88, 88, 88, 0.8);
    width: 70%;
    height: 130px;
    margin-left: 15%;
    margin-right: 15%;
}
.navbar_btns {
    background-color: rgba( 104, 22, 63, 1);
    height: 25px;
    padding-top: 5px;
    text-align: center;
}
.navbar_btns a {
    text-decoration: none;
    color: white;
    margin-left: 100px;
    margin-right: 100px
}
.navbar_logo {
    float: left;
    margin-left: 41%;
}
.navbar_logo img {
    width: 100px;
    height: 100px;
}